.cloud {

    .container {
        @include container;
    }
    
    .grid {
        @include grid;
        grid-template-columns: 4fr 3fr;
    }
}
//----------------------------------------------------------------------------------------------------


// Tablets and under
@media (max-width: 768px) {
    
}
//----------------------------------------------------------------------------------------------------


// Mobile
@media (max-width: 500px) {
    .cloud {

        .grid {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
        }
    }
}
//----------------------------------------------------------------------------------------------------